body {
  background: #618b4a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.quoteForm  form {
  max-width: 500px;
  margin: 0 auto;
}

.bottomForm {
  background-color: rgb(121, 133, 105);
  padding: 25px;
  border-radius: 10px;
  width: 700px;
  margin-left: -125px;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid white;
}

.quoteForm {
  display:flex;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2px;
  border-radius: 15px;
  width: 750px;
}

.quoteFormHeader {
  font-family: "ultra";
  text-decoration: bolder;
  display: block;
  box-sizing: border-box;
  font-size : 40pt;
  font-weight: 100;
  color: white;
  padding-bottom: 30px;
  border-bottom: 4px solid green;
  text-align: center;
}

.quoteForm p {
  color : red;
  text-align: center;
}


.quoteFormDesc {
  margin-top: -30px;
  margin-bottom: 40px;
  color: white;
  text-decoration: bolder;
  text-align: center;
}


.quoteForm input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left:auto;
  font-size: 14px;
  text-align: left;
  padding:15px;
  border-radius:5px;
  border: 1px solid gray;
}


.quoteForm label {
  line-height: 0;
  text-align:left;
  font-family: "ultra";
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  color: green;
  font-size: 16px;
  font-weight: bold;

}

.quoteForm input[type="submit"] {
  background: #F8F272;
  color: #618b4a;
  text-transform: uppercase;
  border: none;
  margin-right: auto;
  margin-left: auto;
  min-width: 100 px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
}

.quoteForm button {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  width: 50%;
}

.bottomForm input {
  text-align: center;
  width: 60%;
}

.bottomForm label {
  text-align: center;
  color : white;
}




.sep{
  padding-top: 100px;
}

.FORMfooter-main{
  font-family: 'Nanum Gothic', sans-serif;
  border: dashed #F8F272;
  color: white;
  background:#40531B;
  padding-top: 10px;
  padding-bottom: 15px;

}

.returnButton {
  position: absolute;
  top: 10px;
  left: 10px;
}

