body {
  margin: 0;
  padding: 0px;
  min-height: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-body{
  background-color: "#EEB902";
  position: relative;
  min-height: 100vh;
}

.wrapper{
  padding-top: 2.5rem;  
  padding-bottom: 2.5rem;    /* Footer height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.table{
  width: 1200px;
  padding: 0px;
  text-align: center;
  border: 2px solid #F8F272;
}

.navigation-bar{
  background:#40531B;
  text-align: right;
  padding: 30px;
  color: white;
}

.footer-main{
  font-family: 'Nanum Gothic', sans-serif;
  border: dashed #F8F272;
  color: white;
  background:#40531B;
  padding-top: 10px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 0;
  width: 100%; 
}

